@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
html, body {font-family: 'Noto Sans KR', sans-serif;}
.page-item {cursor: pointer;}
.page-item.disabled {cursor: not-allowed;}