/* 현재css 문서의 charset을 utf-8로 지정 */
@charset 'utf-8';

/* 
글꼴 설정 - font-family
https://fonts.google.com
1. 원하는 글꼴을 선택하여 + 버튼으로 장바구니에 담은 후...
2. @import 탭의 내용을 복사하여 아래와 같이 적용한다.
3. 적용된 폰트의 font-family를 원하는 클래스 or tag에 속성으로 지정한다.
4. 문서 전체의 기본 font-family 는 html, body 에서 적용한다(상속이 되므로)
5. 특정 태그에 별도로 font-family를 적용할 수 있다.
*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Noto+Sans+KR&display=swap');
/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Nanum Pen Script', cursive; */

/* 
상속이 되는 요소  : font/text와 관련된 속성은 상속된다.
상속이 안되는 요소: 그 외 크기, 테두리, 마진, 패딩 ... 텍스트와 관련 없는 속성은 상속이 되지 않는다.
*/

/* Normalize */
html, body {
	margin: 0; 
	padding: 0; 
	color: #222; 
	font-size: 16px;
	font-family: 'Noto Sans KR', sans-serif;
	box-sizing: border-box;
}

div {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {height: 5000px;}

.ban {
	background-color: beige;
	border: 2px solid black;
	padding: 20px;
	margin: 20px;
}

.summary {
	padding: 20px;
	text-align: center;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 30px;
}


.page {
	border: 1px solid #bbb;
	margin: 20px;
	padding: 20px;
}

.page > h1 {
	text-align: center;
	border-bottom: 6px double darkblue;
}

.box {
	width: 300px;
	padding: 20px;
	/* margin: 20px; => 상 하 좌 우 20px */
	/* margin: 20px 60px; => 상하 20px, 좌우 60px */
	/* margin: 20px 40px 60px 80px; => 상 20px, 우 40px, 하 60px, 좌 80px 12시 부터 시계방향으로 진행 */
	margin: 30px auto;
	font-size: 30px;
	text-align: center;
}
.box1 {
	border: 10px solid #333;
	background-color: #ccc;
}
.box2 {
	border: 10px solid #5a1a1a;
	background-color: #d8c2c2;
}