body {
	background-color: #eee;
}

.header {
	background-color: #b89c9c;
	padding: 20px;
}

.wrap {
	background-color: #dfa7a7;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}



.box-lt {
	width: 70%;
	background-color: #87bbe6;
	padding: 20px;
	float: left;
	height: 500px;
}

.box-rt {
	width: 28%;
	background-color: #3f6399;
	padding: 20px;
	float: right;
	height: 500px;
}

.footer {
	background-color: #c8db92;
	padding: 20px;
}

.footer-lt {
	float: left;
	width: 50%;
	padding: 100px;
	border: 10px solid red;
}
.footer-rt {
	float: right;
	width: 50%;
	padding: 100px;
	border: 10px solid red;
}